@tailwind base;
@tailwind components;
@tailwind utilities;


.header-button {
    color: var(--white);
    font-family: var(--font-family-space_grotesk);
    font-size: 23px;
    font-weight: 700;
    letter-spacing: 0;
    line-height: 23px;
    min-height: 33px;
    min-width: 166px;
    white-space: nowrap;
  }
  
  .main-body-img {
      background-image: url("hero.jpeg");
      background-color: #ec0000;
  }