@tailwind base;
@tailwind components;
@tailwind utilities;


.header-button {
    color: var(--white);
    font-size: 23px;
    font-weight: 700;
    letter-spacing: 0;
    line-height: 23px;
    min-height: 33px;
    min-width: 166px;
    white-space: nowrap;
  }
  
  .main-body-img {
      background-image: url("opac_hero.png");
      background-color: #f87a7a;
  }

  .logo-fyat {
    background-image: url("https://pbs.twimg.com/profile_images/1469164041558007808/FRqpXQX5_400x400.jpg");
    background-color: #ec0000;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    border-radius: 50%;
    margin-top: 15%;
    height: 100px;
    width: 100px;
  }

  .bg-angel {
    --tw-bg-opacity: 1;
    background-color: rgb(230 59 46 / var(--tw-bg-opacity));
  }
  
  .bg-greenvelvet {
    --tw-bg-opacity: 1;
    background-color: rgb(145 36 41 / var(--tw-bg-opacity));
  }
  
  .bg-pearlranger {
    --tw-bg-opacity: 1;
    background-color: rgb(255 219 41 / var(--tw-bg-opacity));
  }
  
  .bg-violetstorm {
    --tw-bg-opacity: 1;
    background-color: rgb(255 84 191 / var(--tw-bg-opacity));
  }
  
  .bg-akira {
    --tw-bg-opacity: 1;
    background-color: rgb(199 196 204 / var(--tw-bg-opacity));
  }
  
  .bg-black {
    --tw-bg-opacity: 1;
    background-color: rgb(0 0 0 / var(--tw-bg-opacity));
  }
  
  .bg-coldblue {
    --tw-bg-opacity: 1;
    background-color: rgb(255 130 38 / var(--tw-bg-opacity));
  }